<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    {% block head %}
  {{ super() }}
{% endblock %}
    <title>Dockerize</title>
</head>
<body>

   {% block content %}
    <h1>DockerizeIt</h1>


   <h4 style="text-align: center">a simple tool to generate a docker file</h4>
<div id="inputs">
   <div> Choose source Image:
       <select class="js-data-example-ajax" id="chosen" name="chosen" style="width: 25%"></select>
   </div>

   <div> Update the image to the latest packages:
       <input type="checkbox" id="enableAptGet" onchange="document.getElementById('aptGet').disabled = !this.checked;">
       <input type="text" id="aptGet" value="RUN apt-get update && apt-get upgrade -y"  disabled style="width: 25%"></input>
   </div>
   <div> Install NGINX to test:
       <input type="checkbox" id="enableInstalNginx" onchange="document.getElementById('instalNginx').disabled = !this.checked;">
       <input type="text" id="instalNginx" value="RUN apt-get install nginx -y"  disabled style="width: 25%"></input>
   </div>

   <div> Expose port 80:
       <input type="checkbox" id="enableExpose" onchange="document.getElementById('expose').disabled = !this.checked;">
       <input type="text" id="expose" value="EXPOSE 80"  disabled style="width: 25%"></input>
   </div>

   <div> start up NGINX:
       <input type="checkbox" id="enableStart" onchange="document.getElementById('start').disabled = !this.checked;">
       <input type="text" id="start" value="CMD [&quot;nginx&quot;, &quot;-g&quot;, &quot;daemon off;&quot;]"  disabled style="width: 25%"></input>
   </div>
</div>
    <div class="text-center">
        <button name="generate" id="generate" class="btn btn-primary" style="margin: 0 auto">Generate file</button>
    </div>


</br></br>
   <div id="result"></div>
<div id="dockerFileBorder" name="dockerFileBorder" style="border: solid; visibility: hidden">

<div id="dockerFileContent"></div>
<div class="text-center">
    <button class="button" id="copy-button" data-clipboard-target="#dockerFileContent" style="margin: 0 auto">Copy</button>
    <button class="button" id="download-button" data-clipboard-target="#dockerFileContent" style="margin: 0 auto">Save As</button>
</div>
</div>
<iframe id="docker_iframe" style="display:none;"></iframe>

<script crossorigin="anonymous" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{url_for('static', filename='jquery.js') }}" type=text/javascript></script>
<script src="{{url_for('static', filename='scripts.js') }}" type=text/javascript></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
   <script>
      var btn = document.getElementById('copy-button');
      var clipboard = new ClipboardJS(btn);
   </script>
{% endblock %}
</body>
</html>